.landing-page{
  background: #c07c58; /* Old browsers */
  background: -moz-linear-gradient(top,  #c07c58 0%, #927896 32%, #4278f1 52%, #29a1f2 77%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c07c58), color-stop(32%,#927896), color-stop(52%,#4278f1), color-stop(77%,#29a1f2), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c07c58 0%,#927896 32%,#4278f1 52%,#29a1f2 77%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c07c58 0%,#927896 32%,#4278f1 52%,#29a1f2 77%,#05abe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c07c58 0%,#927896 32%,#4278f1 52%,#29a1f2 77%,#05abe0 100%); /* IE10+ */
  background: url('../images/landingbg.png')top center no-repeat; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c07c58', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
  width:100%;
  background-size: contain;
  padding-bottom: 0 !important;
}
.landing-container{
  height: 3100px;
  overflow:hidden;
}
.landing-img{
}
.tagline{
  font-size: 50px;
  letter-spacing: 2px;
}
.landing-page:before {
  content: '';
  position: absolute;
  height:3400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: linear-gradient(to bottom,  #c07c58 0%,#927896 82%,#927896 100%);*/
  background-image:linear-gradient(to bottom,  #c07c58 0%,#927896 15%,#4278f1 30%,#29a1f2 77%,#255edd 85%, #255edd 100%);
  opacity: .6;
  z-index: -1;
  overflow: hidden;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  border:1px solid #fff;
  padding:14px;
}

.navbar-default .navbar-brand {
  color: #fff;
  margin-left:0 !important;
}
.navbar-brand:before{
  content: '';
  position: absolute;
  background-image: url('../images/logo.png');
  height: 33px;
  width: 50px;
  top: 6px;
  left: -10px;
  background-size: cover;
}
.content-start{
  margin-top:25%;
  color:#fff;
  font-weight: bold;
  text-align: center;
}
.landing-bt, .signin-bt{
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.landing-bt:hover, .signin-bt:hover, .signin-bt:focus{
  text-decoration: none;
  color:#fff;
}
.scroll-p{
  margin-bottom: 0px;
  font-size: 8px;
}
.centered-p{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  letter-spacing: 1px;
}
.div-circle{
  width: 300px;
  height: 300px;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  overflow:hidden;
}
.div-circle img{
  width: 300px;
  bottom: 0;
  position: absolute;
  left: -5px;
}
.div-circle:before{
  content: '';
  height: 100px;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom:0;
  opacity:0.3;
  margin: auto;
  z-index: 9999;
  position: absolute;
}
.celebrate-div .div-circle:before{
  height: 209px;
}
.celebrate-div .div-circle span{
  top:10%;
}
.collaborate-div .div-circle:before{
  height: 0px;
}
.div-circle span{
  /*position: absolute;
  left: 45%;
  top: 15%;*/
  position: relative;
  color: #fff;
  font-size: 20px;
  top:10%;
}

.rel-pos{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center !important;
  margin-left:auto;
  margin-right:auto;
}
.footer {
  text-align: center;
  margin-top: 50px;
  background-color: #607ac3;
  height: 100px;
  margin-left: -18px;
  margin-right: -15px;
  border-color: transparent !important;
}

.footer a, .footer p{
  color:#fff;
  text-decoration: none;
}
.footer a:first-child:after,
.footer a:nth-child(2):after{
  content:'|';
  margin-left:10px;
  margin-right:10px;
}
.modal-content{
  background: #607ac3;
  border-radius: 0;
  border-color: transparent;
  padding: 30px;
  color: #fff;
}
.modal-content h3{
  text-align: center;
  margin-bottom: 50px;
}
.modal-content input{
  background-color:#6a81cf !important;
  opacity:1;
  border:0;
}
.content-center{
  text-align:center;
}
.modal-backdrop.in{
  height: 2100px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:#fff !important;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color:#fff !important;
}
.navbar-default .navbar-brand{
  margin-left: 15px !important;
  font-size: 20px !important;
  font-weight: bold;
}
.navbar ul li a {
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .landing-page:before {
    height:3200px;
  }
  .centered-p {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media (max-width: 480px){
  .landing-page:before{
    height: 3800px;
  }
  .landing-container{
    height: 3700px;
    overflow:hidden;
  }
  .navbar-default .navbar-brand{
    margin-left: 30px !important;
  }
}
