.privacy-page{
  color:#fff;
}
.privacy-page .title-img{
  width: 70px;
  margin-right: 10px;
  margin-top: -10px;
}
.privacy-page .no-top-margin{
  margin-top:0;
}
.privacy-page p, .terms-page li {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

