<div class="container-fluid">
  <button ng-class="{'toggle-sidebar fix':!sideBarToggle, 'toggle-sidebar':sideBarToggle} " ng-click="toggleSidebar()"><span class="glyphicon glyphicon-align-justify"></span></button>
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div ng-class="{'col-md-9 col-sm-9  main hid':sideBarToggle, 'col-md-9 col-sm-9  main visible':!sideBarToggle}" ng-click="hideSidebar()">
      <div class="row">
        <div class="heading">
          <span class="circle">
            <img src="../images/hands.png"/>
          </span>
          <span class="section-title"><h1>Healing</h1></span>
          <!--<ul class="list-unstyled healing-ul">
            <li ng-repeat="item in healingList"><a href="#/healing">{{item}}</a></li>
          </ul>-->
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
          <tabset>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!-- start meditation tab -->
              <tab heading="Meditation">

                <!--Active Paths -->
                <div class="" ng-repeat="section in responseJson.quotes">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="heal-circle" ng-style="{'background':'url({{section.image}})'}">

                      </div>
                    </div>
                  </div><!--end row--><br/>
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-md-offset-5 col-sm-offset-5 quote-div">
                      <p>{{section.quote}}</p>
                      <br/>
                      <span>- {{section.title}}</span>
                    </div>
                  </div><!--end row --><br/>
                </div>
                <!--end active paths -->


              </tab>
              <!-- end meditation tab -->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!-- start living with death tab -->
              <tab heading="Living With death">
                Meditation
              </tab>
              <!--end living with death -->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!-- start practicalities tab -->
              <tab heading="Practicalities">
                Meditation
              </tab>
              <!-- end practicalities tab -->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!-- start volunteer tab -->
              <tab heading="Volunteer">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                      <span ng-repeat="item in responseJson.volunteer">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>
                </div>
              </tab>
              <!-- end volunteer tab -->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!--start donate tab -->
              <tab heading="Donate">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                      <span ng-repeat="item in responseJson.donate">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>
                </div>
              </tab>
              <!-- end donate tab -->
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2 tab">
              <!-- start gifts tab -->
              <tab heading="Gifts">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Cards</h3>
                      <span ng-repeat="item in responseJson.gifts.cards">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Activities</h3>
                      <span ng-repeat="item in responseJson.gifts.activities">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Things</h3>
                      <span ng-repeat="item in responseJson.gifts.things">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Food</h3>
                      <span ng-repeat="item in responseJson.gifts.food">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Wineries</h3>
                      <span ng-repeat="item in responseJson.gifts.wineries">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Plants</h3>
                      <span ng-repeat="item in responseJson.gifts.plants">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Gift Certificates</h3>
                      <span ng-repeat="item in responseJson.gifts.gift_certificates">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Services</h3>
                      <span ng-repeat="item in responseJson.gifts.services">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12"></div>
                    <h3>Perpetual</h3>
                      <span ng-repeat="item in responseJson.gifts.perpetual">
                        <div class="col-sm-4 col-xs-6 col-md-4 donate-thumb">
                          <a href="{{item.url}}"><img src="{{item.path}}"/></a>
                        </div>
                      </span>
                  </div>

                </div>
              </tab>
              <!-- end gifts tab -->
            </div>

          </tabset>
        </div>
      </div>






    </div>
  </div>
</div>
