<div class="container-fluid">
  <button ng-class="{'toggle-sidebar fix':!sideBarToggle, 'toggle-sidebar':sideBarToggle} " ng-click="toggleSidebar()"><span class="glyphicon glyphicon-align-justify"></span></button>
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div ng-class="{'col-md-9 col-sm-9  main hid':sideBarToggle, 'col-md-9 col-sm-9  main visible':!sideBarToggle}" ng-click="hideSidebar()">
      <div class="row">
        <div class="heading">
          <h1>My Paths</h1>
        </div>
      </div>



      <!--Active Paths -->
      <div class="">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2>Active Paths {{responseJson.activePaths.numActive}}</h2>
          </div>
        </div><!--end row-->
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div ng-repeat="path in responseJson.activePaths.paths" class="thumb">
              <path-thumbnail info="path"></path-thumbnail>
            </div>
          </div>
        </div><!--end row -->
      </div>
      <!--end active paths -->


      <!--start fav paths -->
      <div class="">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2>Favorite Paths {{responseJson.favPaths.numPaths}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div ng-repeat="path in responseJson.favPaths.paths" class="thumb">
              <path-thumbnail info="path"></path-thumbnail>
            </div>
          </div>
        </div>
      </div>
      <!--end fav paths -->
    </div>
  </div>
</div>
