<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="logo">
          <a href="#"><img src="../images/logo.png"/></a>
        </li>
        <li class="user-img">
          <a href="#"><img src="../images/user.png" alt="img" class="img-circle"></a>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-th-large"></span></a>
        </li>
        <li class="active">
          <a href=""><span class="glyphicon glyphicon-plus"></span></a>
        </li>
        <li>
          <a href=""><span class="glyphicon library-icon"></span></a>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-cog"></span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 main">
      <div class="row">
        <div class="heading">
          <h1>Create a Path</h1>
        </div>
        <p>
          Starting a Path takes only a few minutes. You can build on it, add to it, or make changes whenever
          you would like. You can skip any step and return to it later. Fields marked with an * are required.
          We recommend entering the most information possible in order to tell the story of the person. A person's
          life is made of stories, and no one knows your stories as well as you. This will also help you connect with others
          with similar experiences. This will help people learn more about the person you are remembering. It can also help
          you connect with others who have shared similar experiences.
        </p>
        <div class="row marketing">
          <div class="radio row">
            <div class="col-sm-4 col-md-4">
              <p>Is this foot print for an individual or a group? </p>
            </div>
            <div class="col-sm-2 col-md-2">
              <input type="radio" name="indi-group" id="individual-rd">
              <label for="individual-rd"><span></span>Individual</label>
            </div>
            <div class="col-sm-2 col-md-2">
              <input type="radio" name="indi-group" id="group-rd">
              <label for="group-rd"><span></span>Group</label>
            </div>
          </div>
          <div class="radio row">
            <div class="col-sm-4 col-md-4">
              <p>Is this path public or private? </p>
            </div>
            <div class="col-sm-2 col-md-2">
              <input type="radio" name="public-private" id="public-rd">
              <label for="public-rd"><span></span>Public</label>
            </div>
            <div class="col-sm-2 col-md-2">
              <input type="radio" name="public-private" id="private-rd">
              <label for="private-rd"><span></span>Private</label>
            </div>
          </div>
          <div class="row portrait-row">
            <button class="portrait-btn">Add a Portrait</button>
          </div>
          <div class="row">
            <!--Select a file: <input type="file" name="img">-->
            <!--<input type="submit">-->
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <span class="glyphicon glyphicon-user"></span>
              <span class="section-title">Basic Info</span>
            </div>
            <div class="toggle-btn">
              <a href=""><span ng-class="elementClasses['info']"  ng-click="toggleClass('info')" data-target="info" toggle-accordion></span></a>
            </div>
          </div>
          <!-- start basic info accordion -->
          <div class="accordion info">
            <div class="radio row">
              <div class="col-sm-4 col-md-4">
                <p>Are you remembering someone male of female?</p>
              </div>
              <div class="col-sm-2 col-md-2">
                <input type="radio" name="sex" id="male-rd">
                <label for="male-rd"><span></span>Male</label>
              </div>
              <div class="col-sm-2 col-md-2">
                <input type="radio" name="sex" id="female-rd"/>
                <label for="female-rd"><span></span>Female</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="text" class="form-control" placeholder="first name"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="last name"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="text" class="form-control" placeholder="middle name"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="suffix"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <select class="form-control" placeholder="middle name">
                  <option>Your Relationship</option>
                </select>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="his place of birth"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="date" class="form-control" placeholder="his date of birth"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="date" class="form-control" placeholder="his date of passing"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-md-8 col-sm-offset-2">
                <input type="text" class="form-control" placeholder="+ Path Title"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-md-8 col-sm-offset-3 path-tile-help">
                <p>Examples: A Loving Grandmother, Mother and Wife; Activist and College Chaplain</p>
              </div>
            </div>
            <div class="row">
              <div text-angular></div>
            </div>
          </div><!--end basic info accordion -->
        </div>
        <hr/>
        <!-- start joy section -->
        <div class=" joy-section">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <span><i class="fa fa-heart-o"></i></span>
              <spn class="section-title">JOY</spn>
            </div>
            <div class=" toggle-btn">
              <a href=""><span ng-class="elementClasses['joy']"  ng-click="toggleClass('joy')" data-target="joy" toggle-accordion></span></a>
            </div>
          </div><!-- end row -->
          <div class="accordion joy">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <tabset>
                  <tab heading="Music">
                    <div class="tab-content">
                      <div class="row">
                        <div class="col-sm-4 col-md-4 form-group ">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4 form-group">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                      </div><!--end row -->
                      <div class="row">
                        <div class="col-sm-4 col-md-4 form-group ">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4 form-group">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                      </div><!--end row-->
                      <div class="row">
                        <div class="col-sm-4 col-md-4 form-group ">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                        <div class="col-sm-4 col-md-4 form-group">
                          <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                          </div>
                        </div>
                      </div><!--end row -->

                    </div>
                  </tab>
                  <tab heading="Movies">two's content</tab>
                  <tab heading="Shows">Shows</tab>
                  <tab heading="Places">Places</tab>
                  <tab heading="Hobbies">Hobbies</tab>
                </tabset>
              </div>
            </div><!--end row-->
          </div>
        </div>
        <!-- end joy section -->
        <hr/>
        <!-- start family section -->
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <span class="glyphicon glyphicon-user"></span>
            <span class="section-title">Family</span>
          </div>
          <div class="toggle-btn">
            <a href=""><span ng-class="elementClasses['family']"  ng-click="toggleClass('family')" data-target="family" toggle-accordion></span></a>
          </div>
        </div>
        <div class="accordion family">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <tabset>
                <tab heading="Wife">
                  <div class="row tab-content">
                    <div class="col-sm-4 col-md-4 form-group ">
                      <div class="input-group">
                        <span class="input-group-addon">+</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-camera"></span></span>
                      </div>
                    </div>
                  </div><!--end row-->
                </tab>
                <tab heading="Kids"></tab>
                <tab heading="Parents"></tab>
                <tab heading="Aunt"></tab>
                <tab heading="Uncles"></tab>
                <tab heading="Grand Parents"></tab>
                <tab heading="In Laws"></tab>
              </tabset>
            </div>
          </div>
        </div>
        <!-- end family section -->
        <hr/>
        <!--start organizations section -->
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <span><i class="fa fa-group fa-2x"></i></span>
            <span class="section-title">Organizations</span>
          </div>
          <div class="toggle-btn">
            <a href=""><span ng-class="elementClasses['organization']"  ng-click="toggleClass('organization')" data-target="organization" toggle-accordion></span></a>
          </div>
        </div>
        <div class="accordion organization">
          organization
        </div>
        <hr/>
        <!--end organizations section -->
      </div>
    </div>
  </div>
</div>



