<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="logo">
          <a href="#"><img src="../images/logo.png"/></a>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-th-large"></span></a>
        </li>
        <li class="active">
          <a href=""><span class="glyphicon glyphicon-plus"></span></a>
        </li>
        <li>
          <a href=""><span class="glyphicon library-icon"></span></a>
        </li>
        <li>
          <a href=""><span class="glyphicon glyphicon-cog"></span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-9 main">
      <div class="row">
        <div class="heading">
          <h1>Create a Path</h1>
        </div>
        <p>
          Starting a Path takes only a few minutes. You can build on it, add to it, or make changes whenever
          you would like. You can skip any step and return to it later. Fields marked with an * are required.
          We recommend entering the most information possible in order to tell the story of the person. A person's
          life is made of stories, and no one knows your stories as well as you. This will also help you connect with others
          with similar experiences. This will help people learn more about the person you are remembering. It can also help
          you connect with others who have shared similar experiences.
        </p>
        <div class="row marketing">
          <div class="radio row">
            <div class="col-sm-4 col-md-4">
              <p>Is this foot print for an individual or a group? </p>
            </div>
            <div class="col-sm-2 col-md-2">
              <label><input type="radio" name="indi-group">Individual</label>
            </div>
            <div class="col-sm-2 col-md-2">
              <label><input type="radio" name="indi-group">Group</label>
            </div>
          </div>
          <div class="radio row">
            <div class="col-sm-4 col-md-4">
              <p>Is this path public or private? </p>
            </div>
            <div class="col-sm-2 col-md-2">
              <label><input type="radio" name="public-private">Public</label>
            </div>
            <div class="col-sm-2 col-md-2">
              <label><input type="radio" name="public-private">Private</label>
            </div>
          </div>
          <div class="row portrait-row">
            <button class="portrait-btn">Add a Portrait</button>
          </div>
          <div class="row">
            Select a file: <input type="file" name="img">
            <!--<input type="submit">-->
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <span class="glyphicon glyphicon-user"></span>
              <span class="basic-info-title">Basic Info</span>
            </div>
            <div class="toggle-btn">
              <span class="glyphicon glyphicon-minus" toggle-accordion></span>
            </div>
          </div>
          <div class="accordion">
            <div class="radio row">
              <div class="col-sm-4 col-md-4">
                <p>Are you remembering someone male of female?</p>
              </div>
              <div class="col-sm-2 col-md-2">
                <label><input type="radio" name="sex">Male</label>
              </div>
              <div class="col-sm-2 col-md-2">
                <label><input type="radio" name="sex">Female</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="text" class="form-control" placeholder="first name"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="last name"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="text" class="form-control" placeholder="middle name"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="suffix"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <select class="form-control" placeholder="middle name">
                  <option>Your Relationship</option>
                </select>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="text" class="form-control" placeholder="his place of birth"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 form-group col-sm-offset-2">
                <input type="date" class="form-control" placeholder="his date of birth"/>
              </div>
              <div class="col-sm-4 col-md-4 form-group">
                <input type="date" class="form-control" placeholder="his date of passing"/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-md-8 col-sm-offset-2">
                <input type="text" class="form-control" placeholder="+ Path Title"/>
              </div>
            </div>
          </div><!--end basic info accordion -->
        </div>
      </div>
    </div>
  </div>
</div>



