<div class="container-fluid landing-container">
  <div class="row">
    <div class="col-md-12 col-sm-12 landing-img">
      <!--start navigation -->

      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">OurPaths</a>
          </div>
          <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a>
              </li>-->
              <!--<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <!--<li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
              <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
              <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
              <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>-->
              <li><a href="#/">OurPaths</a></li>
              <li><a href="#/">Healing</a></li>
              <li><a href="#/">Forum</a></li>
              <li><a class="active" href="" ng-click="openSignup()">Get Started</a></li>
            </ul>
          </div>
        </div>
      </div>


      <!--end navigation -->
      <div class="content-start">
        <!--<div class="col-md-9 col-sm-9 col-md-offset-2 content-start">-->
        <h1>Share and discover Ourpaths together.</h1><br/><br/><br/><br/>
        <a class="landing-bt" href="" ng-click="openSignup()">Get Started</a>
        <br/><br/>
        <p class="scroll-p">SCROLL</p>
        <p><a href="#/"><span class="glyphicon glyphicon-chevron-down arrow-down"></span></a></p>
        <!--</div>-->
        <br/><br/><br/><br/><br/>
        <div class="section-one absolute-pos">
          <h2>Ourpaths</h2>
          <p class="centered-p">Our paths Community is invaluable when dealing with the loss of a loved a close friend, or someone you admire.
            OurPaths allows you to connect with people everywhere who share your experience of loss. Members of the OurPaths community believe
            that no one ever has to grieve alone. No matter your location, OurPaths lets you share, celebrate, discuss, sympathize, and otherwise
            touch lives of people with experiences.</p>
        </div>
        <br/><br/><br/><br/><br/>
        <div class="section-two absolute-pos">
          <h2>Explore the product</h2>
          <p class="centered-p">
            OurPaths is cross platform and can be found on many platforms we reach you
            where you are where ever you are.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. Nulla consequat massa quis enim.
          </p>
        </div>
        <br/><br/><br/><br/><br/>
        <div class="rel-pos celebrate-div">
          <div class="div-circle">
            <span><i class="fa fa-clock-o fa-2x"></i></span>
            <img src="../images/circle-img1.png"/>
          </div>
        </div>


        <div class="section-three absolute-pos">
          <h2>Celebrate life together</h2>
          <p class="centered-p">
            To remember our loved ones is to celebrate the life they have lived.
            Share their life stories with words, photos, and videos in Timeline,
            Gallery and Storybook. These stories will be stored on our site forever.
            These are OurPaths.
          </p>
        </div>
        <br/><br/><br/><br/>
        <div class="rel-pos">
          <div class="div-circle">
            <span><i class="fa fa-group fa-2x"></i></span>
            <img src="../images/share.png"/>
          </div>
        </div>

        <div class="absolute-pos">
          <h2>Collaborate with friends & family</h2>
          <p class="centered-p">
            Community is invaluable when dealing with the loss of a loved one, a close
            friend, or someone you admire. OurPaths allows you to connect with people
            everywhere who share your experience of loss. Members of the OurPaths community
            believe that no one ever has to grieve alone. No matter your location, OurPaths lets you
            share, celebrate, discuss, sympathize, and otherwise touch lives of people with
            similar experiences.
          </p>
        </div>

        <div class="rel-pos collaborate-div">
          <div class="div-circle">
            <span><i class="fa fa-facebook fa-2x"></i></span>
            <span><i class="fa fa-twitter fa-2x"></i></span>
            <img src="../images/nicholas.png"/>
          </div>
        </div>

        <div class="absolute-pos">
          <h2>Remeber & heal through sharing</h2>
          <p class="centered-p">
            Share stories, photos, audio recordings, videos, links, and more.
            You can organize Everlasting Footprint events both online and offline.
            Send messages, chat in groups, and post comments in order to connect with others
            who are also remembering loved ones and celebrating their lives.
          </p>
        </div>

      </div><!--end content-start -->




    </div><!--end landing-img -->

  </div>

</div>
<div class="absolute-pos footer">
  <a href="#/">Privacy policy</a>
  <a href="#/">Terms & Conditions</a>
  <a href="#/">Contact Us</a>
  <p>Copyright 2015 Myriata Inc</p>
</div>

